#Продвинутый Python, ДЗ-6

Правила игры:

В домашке 5 задач, разбаловка указана в задании. Суммарно за дз можно получить 100 баллов, что равняется 10 баллам

Дедлайн - 7 дней после выдачи дз. Необходимо залить решеннный ноутбук в github и прислать ссылку в Anytask (без выполнения любого из пунктов работа проверяться не будет)

В данной домашке нужно сделать все запросы с помощью PyMongo. Любые агрегации должны выполняться через запросы к БД

In [ ]:
!pip install pymongo

In [ ]:
import pymongo
from pymongo import MongoClient

cluster = MongoClient('mongodb+srv://admin:admin@pythontest.l4aoup6.mongodb.net/?retryWrites=true&w=majority')

## Задание 1 (10 баллов)

Выведите все уникальные строки город-штат по датасету zips в БД sample_training (обратите внимание, что просто distinct тут не поможет)

In [ ]:
col = cluster["sample_training"]["zips"]
filters = {}
cols = {"city": 1, "state": 1}
answer = col.find(filters, cols)
real_answer = dict()
for i in answer:
    city = i["city"]
    state = i["state"]
    if city in real_answer:
        if state not in real_answer[city]:
            real_answer[city].append(state)
            print("city:", city, "state:", state)
    else:
        real_answer.update({city: [state]})
        print("city:", city, "state:", state)

## Задание 2 (20 баллов)

Соберите по каждому студенту среднюю оценку за предмет (агрегация по student_id + class_id) по датасету grades в БД sample_training. Выведите студентов в порядке средней оценки по убыванию, выведите только первые 100 студентов

In [ ]:
col = cluster["sample_training"]["grades"]
u = {"$unwind": "$scores"}
g = {"$group":
        {
            "_id": {"class_id": "$class_id", "student_id": "$student_id"},
            "score": {"$avg": "$scores.score"}
        }
     }
answer = col.aggregate([u, g])
answer = sorted(answer, key=lambda x: x['score'] != None and x['score'], reverse=True)

for i in range(100):
    print(answer[i])

## Задание 3 (20 баллов)

В датасете posts БД sample_training выведите число постов по каждому тэгу (тэги идут отдельно). Выведите все теги, который встречаются всего 1 раз и выведите по ним тексты постов (body)

In [ ]:
col = cluster["sample_training"]["posts"]
u = {"$unwind": "$tags"}
g = {"$group":
        {
            "_id": "$_id",
            "tags": {"$addToSet": "$tags"},
            "body": {"$addToSet": "$body"}
        }
     }
a = col.aggregate([u, g])
tags = dict()
bodies = dict()
for k in a:
    for i in k['tags']:
        if i in tags:
            tags[i] += 1
        else:
            tags.update({i: 1})
            bodies.update({i: k['body'][0]})


tags_once = dict()
for tag in tags:
    if tags[tag] == 1:
        tags_once.update({tag: tags[tag]})
        print(tag, end="; ")


for tag in bodies:
    print('-'*6)
    if tag in tags_once:
        print(tag, bodies[tag])

## Задание 4 (20 баллов)

Для ресторанов из датасета restaurants БД sample_restaurants выведите самую часто встречающуюся оценку (grade), поставленные в 2014 году. Если у ресторана таких оценок нет, то она не должна быть выведена. Для агрегации используйте name, а не id

Получившийся результат добавьте в дасет test БД test

In [ ]:
import datetime

col = cluster["sample_restaurants"]["restaurants"]
u = {"$unwind": "$grades"}
g = {"$group":
        {
            "_id": "$name",
            "grade": {"$push": "$grades.grade"},
            "date": {"$push": "$grades.date"}
        }
     }
a = col.aggregate([u, g])
grades = dict()
for restaurant in a:
    grade = restaurant['grade']
    name = restaurant['_id']
    date = restaurant['date']
    for i in range(len(date)):
        if grade[0]== 'Not Yet Graded':
            break
        if date[i].year == 2014:
            if name in grades:
                if grade[i] in grades[name]:
                    grades[name][grade[i]] += 1
                else:
                    grades[name].update({grade[i]: 1})
            else:
                grades.update({name: {grade[i]: 1}})


db = cluster["test"]
collection = db["test"]
#idk y, but there were already some grades in that collection (probably it's smb's else answers?)
#so i did same format as there
collection.delete_many({})
#if i run whitout deleting everything, terminal says that there is dublicate in collection :(
#i'm really sorry, if i shouldn't delete everything BibleThump
answer = []
for name in grades:
    t = sorted(grades[name].items(), key=lambda x:x[1], reverse=True)
    if len(t) > 1:
        if t[0][1] != t[1][1]:
            answer.append({"_id": name, "most_common_grade": t[0][0]})
            print(name, t[0][0])
    else:
        answer.append({"_id": name, "most_common_grade": t[0][0]})
        print(name, t[0][0])
        
collection.insert_many(answer)

## Задание 5 (30 баллов)

По БД sample_analytics выведите по каждому customer_id (выведите также username аккаунта):

* Сумма лимитов у пользователя (сумма по всем его аккаунтам)

* Общее число транзакций пользователя (сумма по всем аккаунтам)

* (на еще +20 баллов) добавить сумму всех пополнений и трат по транзакциям

In [ ]:
cluster = MongoClient('mongodb+srv://admin:admin@pythontest.l4aoup6.mongodb.net/?retryWrites=true&w=majority')
col = cluster["sample_analytics"]["customers"]
u = {"$unwind": "$accounts"}
l = {
        "$lookup":
        {
            "from": "transactions",
            "localField": "accounts",
            "foreignField": "account_id",
            "as": "tracts"
        }
     }
m = {"$project": {"username": 1, "name": 1, "accounts": 1, "tracts.transaction_count": 1,
                  "tracts.transactions": 1}}

a = col.aggregate([u, l, m])
col2 = cluster["sample_analytics"]["accounts"]
v = {"$unwind": "$limit"}
n = {
        "$group":
        {
            "_id": "$account_id",
            "limit": {"$push": "$limit"}
        }
    }
b = col2.aggregate([v, n])
accs = []
users = dict()
users_list = []
ans = dict()
for k in a:
    if k["accounts"] not in accs:
        if k["name"] in users:
            users[k["name"]].append(k["accounts"])
        else:
            users.update({k["name"]: [k["accounts"]]})
            users_list.append(k["name"])
        accs.append(k["accounts"])
        ans.update({k["accounts"]: {"name": k["name"], "username": k["username"],
                                  "transactions": k['tracts'][0]}})
# методом проб и ошибок я понял, что почему-то аккаунт 627788 принадлежит сразу 2 людям: Shawn Austin и Ashley Rodriguez
# поэтому просто проифал этот момент и отдал случайному, второму не засчитываю ни лимит, ни число транзакций
for k in b:
    if k["_id"] in accs:
        ans[k["_id"]].update({"limit": k["limit"][0]})
print("sum of limits")
for user in users_list:
    limit_sum = 0
    username = "123"
    for acc in users[user]:
        limit_sum += ans[acc]["limit"]
        username = ans[acc]["username"]
    print("name:", user, "| username:", username, "| sum of limits", limit_sum)
print('-' * 20)
print('-' * 20)
print('-' * 20)
print("number of transactions")
for user in users_list:
    transacations_number = 0
    username = "123"
    for acc in users[user]:
        transacations_number += ans[acc]["transactions"]["transaction_count"]
        username = ans[acc]["username"]
    print("name:", user, "| username:", username, "| number of transactions", transacations_number)

print('-' * 20)
print('-' * 20)
print('-' * 20)
print("total of transactions")
for user in users_list:
    total_bought = 0
    total_sold = 0
    username = "123"
    for acc in users[user]:
        username = ans[acc]["username"]
        for transaction in ans[acc]["transactions"]["transactions"]:
            if transaction["transaction_code"] == "buy":
                total_bought += float(transaction["total"])
            if transaction["transaction_code"] == "sell":
                total_sold += float(transaction["total"])
    print("name:", user, "| username:", username, "| total sold:", total_sold, "| total_bought:", total_bought)